@import "~antd/dist/antd.css";

html {
  overflow-y: hidden;
}

.logo {
  height: 32px;
  margin: 16px;
  color: white;
  font-size: 1.5em;
  line-height: 32px;
  text-align: center;
}

.logo span {
  margin: 8px;
}

.header {
  background: #fff;
  padding: 0;
  border-bottom: 1px solid #e8e8e8;
}

.header .menu {
  line-height: 62px;
}

.content {
  padding: 24px 16px 0;
  overflow-y: auto;
  height: calc(100vh - 62px);
}

.receipt {
  margin-bottom: 16px;
}

.receipt .cover {
  height: 150px;
  display: block;
  object-fit: cover;
}

.sidebar {
  z-index: 100;
  height: 100vh;
}

